# /etc/haproxy/haproxy.cfg
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log stdout format raw local0

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    timeout connect 5s
    timeout client  120s
    timeout server  120s

#---------------------------------------------------------------------
# apiserver frontend which proxys to the control plane nodes
#---------------------------------------------------------------------
frontend proxy80
    mode tcp
    bind :80

    # table used to store behaviour of source IPs (type is ip)
    stick-table type ip size 200k expire 30s store  gpc0,conn_rate(10s)

    # IPs that have gpc0 > 0 are blocked until the go away for at least 30 seconds
    acl source_is_abuser src_get_gpc0 gt 0
    tcp-request connection reject if source_is_abuser
    acl conn_rate_abuse  src_conn_rate gt 80
    acl mark_as_abuser   src_inc_gpc0  ge 0
    tcp-request connection track-sc1 src
    tcp-request connection reject if conn_rate_abuse mark_as_abuser

    # Proteção whitelist de IP
    #acl is_allow_ip src -f /whitelist/ip-whitelist.lst
    #tcp-request connection reject if !is_allow_ip

    default_backend ingress-backend80

frontend proxy443
    mode tcp
    bind :443

    # table used to store behaviour of source IPs (type is ip)
    stick-table type ip size 200k expire 30s store  gpc0,conn_rate(10s)

    # IPs that have gpc0 > 0 are blocked until the go away for at least 30 seconds
    acl source_is_abuser src_get_gpc0 gt 0
    tcp-request connection reject if source_is_abuser
    acl conn_rate_abuse  sc1_conn_rate gt 150
    acl mark_as_abuser   sc1_inc_gpc0  ge 0
    tcp-request connection track-sc1 src
    tcp-request connection reject if conn_rate_abuse mark_as_abuser

    # Proteção whitelist de IP
    #acl is_allow_ip src -f /whitelist/ip-whitelist.lst
    #tcp-request connection reject if !is_allow_ip

    default_backend ingress-backend443

backend ingress-backend80
    balance leastconn
    {% for host in groups['controlplane'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:{{ ingress_nginx_http_nodeport.stdout }} send-proxy-v2
    {% endfor %}

backend ingress-backend443
    balance leastconn
     {% for host in groups['controlplane'] %}
     server {{ host }} {{ hostvars[host].ansible_host }}:{{ ingress_nginx_https_nodeport.stdout }} send-proxy-v2
     {% endfor %}

